<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Pizza</title>
</head>
<body>
    <h1>Edit Pizza Order</h1>
    {{ note }}
    <br><br>
    <a href="{% url 'order' %}">Return to Order Page</a>

    <form action="{% url 'edit_order' pizza.id %}" method='POST'>
            {% csrf_token %}
    
            {{ pizzaform }}
    
            <input type="submit" value="Edit Pizza">
    </form>

</body>
</html>